article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

body {
    margin: 0;
    line-height: 1.4;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* === Font Sizes =========================================== */

h1 {
    font-size: 2.1em;
    margin-top: 1.6em;
}

h2 {
    font-size: 1.8em;
    margin-top: 1.6em;
}

h3 {
    font-size: 1.5em;
    margin-top: 1.6em;
}

h4 {
    font-size: 1.3em;
    margin-top: 1.6em;
}

p { font-size: 1em; margin-bottom: 1.6em;}


/* === Links ================================================ */

a {
    text-decoration: underline;
}

a:hover, a:active {
    outline: 0;
}


/* === Typography =========================================== */

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}


/* Improve readability of pre-formatted text in all browsers */
q {
    quotes: none;
}
q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}


/* === Lists ================================================ */

ul, ol {
    margin: 0;
    padding: 0 0 0 30px;
}

dt {
    font-weight: bold;
    width: 20%;
    float: left;
    clear: left;
}
dd {
    margin-left: 20%;
}


/* === Embedded content====================================== */

img {
    border: 0;
    vertical-align: middle;
}


/* === Figures ============================================== */

figure {
    margin: 0;
}


/* === Block Quotes ========================================= */

blockquote {
    font-style: italic;
}


time {
    width: 100%;
    display: block;
    text-align: right;
    font-style: italic;
}
