@keyframes tom {
  0% {
    transform:
      rotateX(-1deg)
      rotateY(0deg)
      translateX(110%)
      rotateY(0deg)
      rotateX(1deg);
  }

  100% {
    transform:
      rotateX(-1deg)
      rotateY(360deg)
      translateX(110%)
      rotateY(-360deg)
      rotateX(1deg);
  }
}

#container {
  position: fixed;
  width: 100%;
  height: 100%;

  perspective: 40em;
  text-align: center;
}

#tom {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20em;
  height: 20em;
  margin-left: -10em;
  margin-top: -10em;

  transform-style: preserve-3d;
  animation-duration: 3s;
  animation-name: tom;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes title-rotate {
  0%   {transform: rotateZ(-10deg);}
  100% {transform: rotateZ(10deg);}
}

@keyframes title-scale {
  0%   {transform: scale(1.0);}
  25%  {transform: scale(1.4);}
  50%  {transform: scale(1.0);}
  75%  {transform: scale(1.2);}
  100% {transform: scale(1.0);}
}

#title-outer {
  position: absolute;
  bottom: 50%;
  width: 100%;

  transform-style: preserve-3d;
  animation-duration: 2s;
  animation-name: title-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

#title {
  font-family: sans;
  font-size: 32pt;
  transform-style: preserve-3d;
  animation-duration: 3.5s;
  animation-name: title-scale;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes com {
  0%   {transform: scale(0.0);}
  100% {transform: scale(4);}
}

#com {
  position: absolute;
  top: 50%;
  width: 100%;

  transform-style: preserve-3d;
  animation-duration: 2s;
  animation-name: com;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

#contact-outer {
  position: absolute;
  width: 100%;
  bottom: 25%;
}

@keyframes background {
  0%   {background: magenta;}
  50%  {background: lime;}
  25%  {background: yellow;}
  75%  {background: aqua;}
  100% {background: magenta;}
}

body {
  padding: 0;
  margin: 0;

  animation-duration:4s;
  animation-name: background;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#fire {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 128px;
    background-image: url('fire.gif');
}
